# Set default behavior to automatically normalize line endings
* text=auto

# Specific to Unix-style line endings
*.js text eol=lf
*.json text eol=lf
*.jsx text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Specific to Windows-style line endings
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf